<div class="console">
    <div ng-controller="OutputController as output">
<!--        <div class="floater" ng-include="'views/game/rpg.html'"></div>-->
        <div class="output">
            <div ng-include="'views/fragments/welcome.html'"></div>
        </div>
        <div ng-repeat="line in output.data.lines track by $index">
            <div ng-if="output.check.isView(line.view)">
                <div ng-include="line.view" onload="lastCmd = line.cmd" class="output"></div>
            </div>
        </div>
    </div>

    <div ng-controller="inputController as input" class="input" >
        <span class="visitor">visitor $ ></span>
        <input id="input"
               type="text"
               class="input smaller"
               autofocus
               ng-keyup="$event.keyCode == 13 && input.events.makePEBKAC()"
               ng-model="input.data.pebkac"/>
    </div>
</div>
