<div class="box-container rpg" ng-controller="RRGController as rpg">
    <div class="box-header">
        <h3>RPG <span class="smallest">(alpha)</span></h3>
        <span class="right inline">
            <i class="fa fa-plus-circle"></i>
            <i class="fa fa-minus-circle"></i>
        </span>
    </div>
    <div class="box-body">
        <div>
            <div class="login-box">
                <h4>Information</h4>
            <span ng-class="{'hide': rpg.flags.isConnected}">
                <i class="ra ra-player"></i>
                <input type="text" class="input" placeholder="visitor" ng-model="rpg.model.username"/>
                <i class="ra ra-key-basic"></i>
                <input type="password" class="input" placeholder="login key" ng-model="rpg.model.loginKey"/>
            </span>
            <span ng-class="{'hide': !rpg.flags.isConnected}">
                <i class="ra ra-player"></i>
                <span class="input">{{rpg.model.username}}</span>
                <i class="ra ra-wooden-sign"></i>
                <a class="interactive" ng-click="rpg.commands['/where']()">look</a>
            </span>
            <span class="right">
                <i class="ra ra-wifi" ng-class="{'red-text': !rpg.flags.isConnected, 'green-text': rpg.flags.isConnected}"></i>
                <a class="interactive"
                   ng-click="rpg.events.connectButtonClicked()"
                   ng-disabled="!rpg.model.username || !rpg.data.loginKey"
                >{{rpg.flags.isConnected ? 'logout' : 'login'}}</a>
            </span>
            </div>
            <div class="game-box" ng-class="{'hide': !rpg.flags.isConnected}">
                <h4>Stats</h4>
                <ul class="inline">
                    <li><span class="rpg-stats">dex <span class="normal-color-text ">{{rpg.data.player.stats.stats.dex}}</span></span></li>
                    <li><span class="rpg-stats">def <span class="normal-color-text ">{{rpg.data.player.stats.stats.def}}</span></span></li>
                    <li><span class="rpg-stats">str <span class="normal-color-text ">{{rpg.data.player.stats.stats.str}}</span></span></li>
                </ul>
                <h4>Battle</h4>
                <ul class="inline">
                    <li><span class="rpg-stats"><i class="ra ra-health"></i> </span><span class="normal-color-text ">{{rpg.data.player.levelInfo.battleStats.health || rpg.data.player.levelInfo.battleStats.maxHealth}}/{{rpg.data.player.levelInfo.battleStats.maxHealth}}</span></li>
                    <li><span class="rpg-stats"><i class="ra ra-shield"></i> <span class="normal-color-text ">{{rpg.data.player.levelInfo.battleStats.baseAttack}}</span></span></li>
                    <li><span class="rpg-stats"><i class="ra ra-sword"></i> <span class="normal-color-text ">{{rpg.data.player.levelInfo.battleStats.defense}}</span></span></li>
                </ul>
                <h4 ng-if="rpg.data.playerLocation">Move </h4>
                <ul class="inline">
                    <li><i class="ra ra-hole-ladder"></i> {{rpg.data.playerLocation.inMap.level}}</li>
                    <li><i class="ra ra-shoe-prints"></i> {{rpg.data.playerLocation.inMap.code}}</li>
                </ul>
                <ul class="inline">
                    <li ng-repeat="exit in rpg.data.playerLocation.exits"><a class="interactive" ng-click="rpg.events.movePlayer(exit.name)">{{exit.name}}</a></li>
                </ul>
                <h4 ng-if="rpg.data.playerLocation.aroundPlayer">Near</h4>
                <span ng-if="rpg.data.playerLocation.aroundPlayer.length === 0">You're alone out here..</span>
                <ul class="inline">
                    <li ng-repeat="player in rpg.data.playerLocation.aroundPlayer"><a class="interactive" ng-click="rpg.events.attack(player)">{{player}}</a></li>
                </ul>
            </div>
            <div class="overlay" ng-show="rpg.flags.isFlooding">
                <p>You're flooding, wait.</p>
            </div>
        </div>
        <div class="log-box" ng-if="rpg.data.retrieved.length > 0">
          <ul>
            <li ng-repeat="line in rpg.data.retrieved track by $index">{{line}}</li>
          </ul>
        </div>
    </div>
</div>
