.console {
    color: rgb(220,230,230);
    margin: 0 auto;
    font-size: small;
    padding: 0 1em 0 1em;
}
.console .clear { clear: both }
.console .output ul {list-style: none}
.console .output li {   }
.console .output a {
    cursor: pointer;
    color: rgb(220,230,230);
}

.console .output h2 span i {
    font-size: small;
    position: relative;
    top: -1px;
}

.console .input {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    background: rgb(20,30,30);
    border: none;
    color: rgb(220,230,230);
    width: 95%;
}

.console .input.smaller {
    width: 80%;
}

.console .input:focus {
    outline: none;
}

ul.inline li {
    display: inline-block;
}

ul.inline li:after {
    content: ',';
    margin-right: 5px;
}

ul.inline li:last-child:after {
    content: '.';
}

.red-text {
    color: darkred;
}

.console .position {
    width: 30%;
    float: left;
    margin-right: 15px;
}
.console .position:nth-child(3n+1) {
    clear: left;
}

body {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    background: rgb(20,30,30);
    padding: 0.3em;
}

.hide { display: none }
