body,.console .input {
    background-color: #242527;
}

.console,
.console .input,
.normal-color-text {
    color: #D6D6D5;
}

.console .output a i.fa,
.console .output a.interactive {
    color: #FEC123;
}

.console .output a {
    color: #EE7561;
}

.console .output .visitor,
.console .input .visitor {
    color: #83E756;
}

.red-text {
    color: #F74861;
}

h2 {
    color: #FC6821;
}

h3 {
    color: #3785C4;
}

h4 {
    color: #48AFB5;
}