.box-container {
    width: 350px;
}

.box-container .box-header {
    background-color: #BBBBBB;
    padding: 5px;
}
.box-container .box-header h3 {
    display: inline;
}

.box-container .box-header i.fa {
    color: #303133;
}

.box-container .box-body {
    padding: 5px 5px 5px 5px;
}

.box-container .box-body,
.box-container .box-body .input {
    background-color: #303133;
}
.box-container .box-body .input { width: 310px; }

.box-container .right { float: right; }

.floater {
    position: absolute;
    top: 10px;
    right: 5px;
}
