.rpg {
    position: relative;
}

.rpg i.fa,.rpg i.ra,
.rpg .rpg-stats {
    color: #EE7151;
}

.rpg .normal-color-text {
    color: #D6D6D5;
}

.rpg a.interactive {
    color: #FEC123;
}

.rpg .red-text.red-text {
    color: #F74861;
}

.rpg .green-text.green-text.green-text {
    color: #83E756;
}
.rpg a.interactive {
    cursor: pointer;
}

.rpg a.interactive[disabled] {
    color: rgba(0,0,0,.5);
    cursor: default;
}

.rpg .login-box {
    overflow: hidden;
}

.rpg .log-box {
    height: 60px;
    background-color: #242527;
    overflow: auto;
}

.rpg .log-box ul {
  list-style: none;
  -webkit-margin-before: 0;
  padding-left: 10px;
}

.rpg .overlay {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom:0;
    background-color: rgba(252, 104, 33, .5);
}

.rpg .overlay p {
    color: #242527;
    margin: 0 auto;
    margin-top: 120px;
    width: 160px;
    display: block;
    font-weight: bold;
    z-index: 100;
}