<div ng-include="'views/fragments/cmd-layout.html'"></div>
<p>Hi. I'm MoshMage, a remote Javascript Developer from Lisbon. This is my CV, welcome.</p>
<p>Lately I've been entertaining myself creating a FUDGE system in NodeJS and Angular, you can't access it yet - but it's awesome and simple.</p>
<p>Besides reading, playing games, watching movies, and the odd cèilidh; I'm usually in-between small <a href="https://github.com/moshmage" target="_blank">home-projects</a>, helping out at stackoverflow-pt, or just chatting over discord while on reddit.</p>
