<div ng-include="'views/fragments/cmd-layout.html'"></div>
<ul class="inline">
    <li>moshmage@gmail.com  <a href="mailto:moshmage@gmail.com" target="_blank"><i class="fa fa-external-link"></i></a></li>
    <li>discord <a href="https://discord.gg/afFvPt6" target="_blank"><i class="fa fa-external-link"></i></a></li>
    <li>Hired.com Profile  <a href="https://hired.com/x/1cjyp" target="_blank"><i class="fa fa-external-link"></i></a></li>
    <li>Stackoverflow PT <a href="http://pt.stackoverflow.com/users/14588/moshmage" target="_blank"><i class="fa fa-external-link"></i></a></li>
</ul>
