<div ng-include="'views/fragments/cmd-layout.html'"></div>
<p>Yellow commands are interactive, type or click them.</p>
<ul class="inline">
    <li><a ng-click="output.events.appendView('about')" class="interactive">about</a></li>
    <li><a ng-click="output.events.appendView('help')" class="interactive">help</a></li>
    <li><a ng-click="output.events.appendView('work')" class="interactive">work</a></li>
    <li><a ng-click="output.events.appendView('contact')" class="interactive">contact</a></li>
    <li>/clear</li>
</ul>