<div ng-include="'views/fragments/cmd-layout.html'"></div>
<div ng-controller="WorkController as work">
    <div ng-repeat="position in work.data.past" class="position">
        <h2>{{position.companyName}}
            <span ng-if="position.liveExample">
                <a ng-href="{{position.liveExample}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            </span>
        </h2>
        <h3>{{position.jobTitle}}</h3>
        <span>{{position.date}}</span>
        <hr/>
        <h4>Project Scope</h4>
        <ul>
            <li ng-repeat="projectScope in position.projectScope">{{projectScope}}</li>
        </ul>
        <h4>Performed Functions</h4>
        <ul>
            <li ng-repeat="performedFunc in position.performedFunctions">{{performedFunc}}</li>
        </ul>
        <h4>Technologies</h4>
        <ul class="inline">
            <li ng-repeat="tech in position.technicalEnv">{{tech}}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>