<div ng-include="'views/fragments/cmd-layout.html'"></div>
<h4>
    <span class="red-text">Unknown command, perhaps you need </span>
    <a ng-click="output.events.appendView('help')" class="interactive">help</a>
    <span class="red-text">?</span>
</h4>
